{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2><a href="/books/{{ book.pub_date|date:'c' }}">{{ book.name }}</a></h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date|date:"c" }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {% if previous_date != None %}
                <h5><a href="http://127.0.0.1:8000/books/{{ previous_date }}/"><{{ previous_date }}</a></h5>
            {% endif %}
            <p>&ensp;</p>
            {% if next_date != None %}
                <h5><a href="http://127.0.0.1:8000/books/{{ next_date }}/">{{ next_date }}></a></h5>
            {% endif %}
        </div>
    </div>
{% endblock %}